body{
    background: white;
}

#banner {

    width: 100%;
        
}

.principal{

    background: #ccc;
    padding: 30px;

}

.titulo-principal{

    padding-left: 20px;

}

.titulo-centralizado {
    text-align: center;
    color: black;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size: 24px;
} 

.itens {
    font-style: italic;
}

.beneficios{

    background: #FFFFFF;
}

ul {

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.beneficios {
    width: 50%;
    margin: 25px;
}